<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
        <TITLE> New Document </TITLE>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <META NAME="Author" CONTENT="">
        <META NAME="Keywords" CONTENT="">
        <META NAME="Description" CONTENT="">

    </HEAD>
    <BODY>
        <script>
            // alert(document.body.clientWidth);
            //alert(document.body.clientWidth < 760? "760px": "100%" );
            </script>
        <div class="DivTop"><center><img src="easyway_24.png"  alt="路易95" />路易95路况专家演示系统</center></div>
        <div class="divGlobal">
            <div class="DivMainLeft">
                <div style="width:600px;height:600px;border:1px solid gray" id="mapcontainer"></div>
                
            </div>
            
            
            <div class="DivMainRight">
                <div> <font  color="#FF0000"> 基础数据加载 </font></div>
                <div>小区数据(data.txt)<input type="file" id="BTSFiles" name="files[]"  /></div>
                <div>路径数据(pathdata.txt)<input type="file" id="PATHFiles" name="files[]"  /></div>
                <div> ---------------------------------------------------------------------- </div>
                <div> ---------------------------------------------------------------------- </div>

                <div> <font  color="#FF0000"> 单个测试用例加载 </font></div>
                <div>单个位置更新数据(*.lac)<input type="file" id="LUFiles" name="files[]"  /></div>

                <div> 原始数据显示 </div>
                <input value="显示全部" type="button" onclick="ShowAll()" />
                <input value="上一步" type="button" onclick="StepPre()" />
                <input value="下一步" type="button" onclick="StepNext()" />
                <div>
                    <div> --------------------------------------- </div>
                    
                    <div> <font  color="#FF0000"> 单个用例-数据清洗/处理 </font></div>
                    

                    <!--下面是一键处理-->
                    <div> --------------------------------------- </div>
                    
                    <input value="数据清洗和处理" type="button" onclick="GetResult()" />
                    <div></div>
                    
                    <div> <font  color="#FF0000"> 单个用户分析过程结果显示 </font></div>
                    <div> --------------------------------------- </div>
                    <input value="逐段显示" type="button" onclick="RouteNextSegment()" />
                    <input value="段内逐点显示" type="button" onclick="RouteNextSegPoint()" />
                    <input value="显示该段速度" type="button" onclick="ShowSpeed()" />
                    <input value="清除地图所有覆盖物" type="button" onclick="ClearOverlayOnMap()" />


                    <div> ---------------------------------------------------------------------- </div>
                    <div> ---------------------------------------------------------------------- </div>

                    <div> <font  color="#FF0000"> 多用例加载分析</font></div>
                    <div>多个位置更新数据(*.lac)<input type="file" id="MultiLUFiles" name="files[]" multiple /></div>
                    <div> --------------------------------------- </div>

                    <input value="分析显示统计速度" type="button" onclick="ShowSpeedwitStat()" />
                    拥堵：红色；车多：紫色；畅通：绿色
                    
                </div>
                <div> ---------------------------------------------------------------------- </div>
                <div> ----------------------单击可选择某条线路------------------- </div>

                <table  id="RouteList" >   </table>
                <div> ---------------------------------------------------------------------- </div>
                <div> ---------------------------------------------------------------------- </div>

                <div  id="Output" >   </div>
                <!--div <span id="routedata"> </span>路线数据</div-->
            </div>
        </div>
    </BODY>
</HTML>
